.footer {
    background: rgba(194, 84, 44, 0.808);
    height: 100px;
    position: relative;
    color: #fff;
    overflow: auto;
    clear: left;
}

.footer>.bottom {
    position: absolute;
    bottom: 0;
    left: 0%;
    right: 0%;
    text-align: center;
    background: rgba(194, 84, 44, 0.808);
    padding: 8px;
    font-weight: 600;
}